body{
    background-color: antiquewhite;
    user-select: none;
    -webkit-user-select: none;
}
.title{
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 60px;
    font-weight: bolder;
    color: grey;
    margin-bottom: 50px;
}
.input{
    text-align: center;
}
.output{
    text-align: center;
    font-weight: bolder;
    font-size: x-large;
    color: grey;
    margin-bottom: 20px;
}
.big-container{
    display:flex;
    justify-content: center;
}
.grid-container{
    align-items: center;
    display:flex;
    height: 500px;
    width: 500px;
    box-shadow: 0px 5px 15px 5px #000000;
    flex-direction: column;
}
.buttons{
    display: flex;
    margin-top: 200px;
    margin-right: 35px;
    gap : 10px;
    align-items: center;
    flex-direction: column;

}
button{
    width: 100px;
    height: 35px;
    background-color: grey;
    color: white;
    border-style: none;
    font-size: 14px;
    border-radius: 7px;
}
input{
    margin-top: 200px;
    color:grey;
}
.row-container{
    display: flex;
    width: 500px;
    flex: 1;
}

.grid-element{
    background-color: white;
    user-select: none;
    border: 1px solid black;
    -webkit-user-select: none;
    flex:1 1 auto;
}